In [22]:
#Assignment-1
#Answer no1-
my_str = 'hello world'

my_list = [1,2,3,4,5]
my_float = 3.14
my_tuple = ('apple', 'banana','mango')

#output
print(' my_str')
print('my_list')
print('my_float')
print('my_tuple')

 my_str
my_list
my_float
my_tuple

In [ ]:
#Answer no.2-
Str
str(because in double quotes)
List
Int

SyntaxError: invalid syntax. Perhaps you forgot a comma? (270919974.py, line 3)

In [29]:
#Answer no 3-
"""/ used to divide values
% for modulus
// for floor division
** for exponentiation"""

'/ used to divide values\n% for modulus\n// for floor division\n** for exponentiation'

In [27]:
#Answer no 4-
list = [1,2,3,'apple', 'banana',3.14,]
for i in list:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
apple
<class 'str'>
banana
<class 'str'>
3.14
<class 'float'>

In [26]:
#Answer no 5-
a = 88
b = 2
while a / b:
    print(a/b)
    print("yes a is divisible by b")
    break

44.0
yes a is divisible by b

In [25]:
#Answer no 6=
list = [2, 6, 8, 12, 15, 17, 20, 21, 24, 27, 30, 32, 36, 39, 42, 45, 48, 50, 54, 57, 60, 63, 66, 70, 72]
for i in list :
    if i % 3 == 0:
        print(i,"items divisible by 3")
        
    
#Answer no 6-
#Mutable data types allow us to index or remove any value in it like list , and in other hand immutable data types like string havent allow us to index or remove value in it.

6 items divisible by 3
12 items divisible by 3
15 items divisible by 3
21 items divisible by 3
24 items divisible by 3
27 items divisible by 3
30 items divisible by 3
36 items divisible by 3
39 items divisible by 3
42 items divisible by 3
45 items divisible by 3
48 items divisible by 3
54 items divisible by 3
57 items divisible by 3
60 items divisible by 3
63 items divisible by 3
66 items divisible by 3
72 items divisible by 3